Repository Verseghy/website_backend, pull requests merged in 2018-06, with the labels that each got.

#14 fix(posts): Fix model migration down
  database/migrations/2018_06_22_111322_create_posts_db.php
Labels: bug, posts

#17 feat(tests): Add Travis CI
  .env.travis
  .travis.yml
Labels: tests

#34 feat(posts): Posts factory & seeder
  app/Http/Controllers/PostsController.php
  app/Models/Posts.php
  app/Models/Posts/Labels.php
  database/factories/PostsFactory.php
  database/seeds/DatabaseSeeder.php
  database/seeds/PostsSeeder.php
Labels: Priority: Critical, Scope: Posts, Status: Review Needed, Type: Bug
