Repository Verseghy/website_backend, pull requests merged in 2018-07, with the labels that each got.

#40 feat: Add CORS handler
  app/Http/Kernel.php
  composer.json
  composer.lock
  config/cors.php
Labels: Priority: High, Scope: Posts, Status: Accepted, Type: Enhancement

#41 feat(canteen): Create Canteen DB
  database/migrations/2018_07_01_120118_create_canteen_db.php
Labels: Priority: Medium, Scope: Canteen, Status: Review Needed, Type: Enhancement

#44 Longer seeds for Posts content and description
  app/Http/Controllers/PostsController.php
  app/Models/Events.php
  database/factories/PostsFactory.php
  database/migrations/2018_06_22_111322_create_posts_db.php
  database/migrations/2018_07_02_185240_create_events_db.php
  routes/api.php
Labels: Priority: Medium, Scope: Events, Scope: Posts, Status: Revision Needed, Type: Enhancement

#45 Issue26
  app/Http/Controllers/PostsController.php
  database/factories/EventsFactory.php
  database/seeds/DatabaseSeeder.php
  database/seeds/EventsSeeder.php
Labels: Priority: High, Scope: Events, Status: Review Needed, Type: Enhancement

#46 Issue28
  app/Http/Controllers/EventsController.php
  routes/api.php
Labels: Priority: Low, Scope: Events, Type: Enhancement

#47 feat(canteen): Canteen models
  app/Models/Canteens.php
  app/Models/Canteens/Menus.php
Labels: Priority: Low, Scope: Canteen, Type: Enhancement

#48 Issue31
  app/Models/Canteens/Menus.php
  database/factories/CanteensFactory.php
  database/seeds/CanteensSeeder.php
  database/seeds/DatabaseSeeder.php
Labels: Priority: Low, Scope: Canteen, Type: Enhancement

#55 Issue49: Add color for Posts table and model
  app/Models/Posts.php
  database/factories/PostsFactory.php
  database/migrations/2018_06_22_111322_create_posts_db.php
Labels: Priority: Low, Scope: Posts, Type: Enhancement

#54 feat(canteen): Add getCanteenByWeek API endpoint
  app/Http/Controllers/CanteensController.php
  routes/api.php
Labels: Priority: Low, Scope: Canteen, Type: Enhancement

#56 Issue50: Refactor HTTP response codes
  app/Http/Controllers/CanteensController.php
  app/Http/Controllers/EventsController.php
  app/Http/Controllers/PostsController.php
Labels: Priority: Low, Scope: Canteen, Scope: Events, Scope: Posts, Type: Maintenance

#85 Issue57
  app/Http/Controllers/PostsController.php
  routes/api.php
  tests/Feature/CanteenAPITest.php
  tests/Feature/PostsAPITest.php
Labels: Scope: Posts, Type: Enhancement

#86 Issue82: TestsBase->checkCaching()
  tests/Feature/CanteenAPITest.php
  tests/Feature/EventsAPITest.php
  tests/Feature/PostsAPITest.php
  tests/Feature/TestsBase.php
Labels: Priority: Low, Type: Maintenance
